.cards-product {
  margin: 16px auto;
  max-width: 1400px;
}

.cards-product > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  gap: 24px;
}

.cards-product.three-cards > ul {
  grid-template-columns: repeat(3, 1fr);
}

.cards-product.four-cards > ul {
  grid-template-columns: repeat(4, 1fr);
}

.cards-product > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
  border-radius: 8px;
  overflow: hidden;
}

.cards-product .cards-product-card-body {
  margin: 16px;
}

.cards-product .cards-product-card-image {
  line-height: 0;
}

.cards-product > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
