.hero-product-container .hero-product-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-product {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero-product h1,
.hero-product h2,
.hero-product h3,
.hero-product h4,
.hero-product h5,
.hero-product h6,
.hero-product p {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero-product.no-image * {
  color: var(--text-color);
}

.hero-product picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero-product img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero-product {
    padding: 40px 32px;
  }
}
